*.pyc
*.egg-info/
pyvenv.cfg
.venv

.vscode


/bin
/lib
/share
/include
/build

/cache
.env
env.py
client_secret.json
token.json
ecalendar-last-render.json
ecal.travis.dixon.net.au-key.pem
ecal.travis.dixon.net.au.pem
server.conf
