[Unit]
Description=ePaper Calendar
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/calendar
ExecStart=/usr/bin/python /home/pi/calendar/index.py
User=pi

[Install]
WantedBy=multi-user.target
