[Unit]
Description=ePaper Calendar
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/calendar
ExecStart=.venv/bin/python index.py
User=pi

[Install]
WantedBy=multi-user.target
