[Unit]
Description=ePaper Calendar
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/calendar
ExecStart=/home/pi/calendar/.venv/bin/python index.py
User=pi

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
